<div>

    <h1>Add new customer</h1>
    <form class="form-horizontal" enctype="multipart/form-data">
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            <input type="text" id="customer-txtName" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Money</label>
        <div class="controls">
            <input type="text" id="customer-txtMoney" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Image</label>
        <div class="controls">
            <input type="file" id="customer-image" name="customerImage" />
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" id="customer-btnSubmit">Save</button>
    </div>
    </form>
</div>
